@page
@model IndexModel
@{

    ViewData["Title"] = "Lista de Estudiantes y Profesores";
}

<h1>@ViewData["Title"]</h1>

<!-- Tabla de Estudiantes -->
<h2>Estudiantes</h2>
<table class="table">
    <thead>
        <tr>
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Carrera</th>
            <th>Cantidad de Cursos</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var estudiante in Model.Estudiantes.ListaDeEstudiantes)
        {
            <tr>
                <td>@estudiante.Cedula</td>
                <td>@estudiante.Nombre</td>
                <td>@estudiante.Edad</td>
                <td>@estudiante.Carrera</td>
                <td>@estudiante.CantidadCursos</td>
            </tr>
        }
    </tbody>
</table>

<!-- Botón para la página de Nuevo Estudiante -->
<a href="ListaDeEstudiantes" class="btn btn-secondary">Lista De Estudiantes</a>

<hr /> <!-- Línea horizontal para separar las secciones -->

<!-- Tabla de Profesores -->
<h2>Profesores</h2>
<table class="table">
    <thead>
        <tr>
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Área de Conocimiento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var profesor in Model.Profesores.ListaDeProfesores)
        {
            <tr>
                <td>@profesor.Cedula</td>
                <td>@profesor.Nombre</td>
                <td>@profesor.Apellido</td>
                <td>@profesor.AreaConocimiento</td>
            </tr>
        }
    </tbody>
</table>

<!-- Botón para la página de Nuevo Profesor -->

<a href="ListaDeProfesores" class="btn btn-secondary">Lista De Profesores</a>

